@font-face {
    font-family: 'Be Vietnam';
    src: url('fonts/BeVietnam-Regular.ttf');
    src: local('Be Vietnam'), url('fonts/BeVietnam-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}